# hidden folder
__pycache__/
.vscode/
.idea/

# compiled files
*.py[cod]
*$py.class

.venv
/grafana-pdfs
experiments.tar.gz

logs

micro-service-trace-data/experiments
micro-service-trace-data/preprocessed/*/
!micro-service-trace-data/preprocessed/delay_spans.pkl
!micro-service-trace-data/preprocessed/vocab.pkl